html {
  background-color: #fafafa; 
  color: #424242;
  font-family: Georgia, serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
 }
 * { 
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
 }

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  background-color: rgb(224, 224, 224);
}
/* Navigation Bar / Header 
--------------------------------*/
.nav {
  display: flexbox;
  border: 1px solid #00fed0;  
}
.nav_leftside {
  display: flex;
  flex-direction: row;
  overflow: auto;
  float: left;
  border: 1px solid #42df;
}
.nav_rightside {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
  float: right;
  border: 1px solid #42df;
}
.nav_arraymenu {
  width: 35%;
  border: 1px solid #000ff0;
}
.nav_signin {
  border: 1px solid #555555;
}
/* Hides the 'gmail' and 'images' anchor needed for larger viewports*/
.nav_mobilehide {
  display: none;
}


svg {
    background-color: #26882e;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    fill: white;
    height: 33px;
    min-width: 24px;
    padding: 0 7px;
    width: 24px;
  }

.belowinput {
  display: flex;
}