html {
  background-color: #fcfcfc; 
  color: #424242;
  font-family: Georgia, serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
 }
 * { 
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  text-align: center;
 }

 li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}


/* Navigation Bar (Header) 
--------------------------------*/
.nav {
  display: flexbox;  
}
.nav_leftside {
  display: flex;
  width: 50%;
  flex-direction: row;
  overflow: auto;
  float: left;
  margin-top: 20px;
}
.nav_leftside_div0 {
  width: 17%;
  padding-left: 12px;
}
.nav_leftside_div {
  padding: 5px 0 0 12px;
}
.nav_sandmenu {
  opacity: 0.5;
}
.nav_rightside {
  display: flex;
  flex-direction: row;
  overflow: auto;
  float: right;
  margin: 18px 15px 0 0;
}
.nav_arraymenu {
  float: right;
  width: 35%;
  padding-right: 8px;
}
.nav_signin {
  
}
/* Hides the 'gmail' and 'images' anchor needed for larger viewports*/
.nav_mobilehide {
  display: none;
}
/* Main content
------------------ */
.content_logo {
  margin-bottom: -40px;
}
.content_form {
  display: inline-flex;
}
.content_textbox {
  border: .5px solid #e9e9e9;
  text-decoration: none;
  height: 33px;
}
.content_formbutton {
  display: none;
}
.content_svg {
  background-color: #0077ff;
  cursor: pointer;
  fill: #ffd000;
  height: 33px;
  min-width: 24px;
  padding: 0 7px;
  width: 24px;
}
.content_undersearch {
  padding: 15px; 
  display: flex;
}
/* GPS Location Identifier (Footer)
-------------------------------------- */
.location {
  display: flex;
  background-color: rgb(235, 235, 235);
  padding: 30px;
  margin-top: 60px;
}
.loc_widget_label {
  color: #666666;
  padding-left: 12px;
}
.loc_explain {
  padding-left: 12px;
  color: #666666;
}

