/*
This is iteration *2/5* 
from my personal 5 step design process for any 
webpage/website I try to develop. My 5 step design 
process is normally my starting point when deciding 
an idea or project is something I'd like to try and 
deploy.For more explanation behind my process, go 
ahead and check out the README file on this github repo.

Iteration *2/5*:Place(building the structure)
    : ensuring our content stays within the confines of 
      their parent container
-----------------------------------------------------------------
- Legend: "[empty comment]" = new from previous                 - 
-         " (+) " = added a property to an existing element     -
-         " (-) " = deleted a property from an existing element -
-----------------------------------------------------------------
*/
html, body {
    background-color: #fffaf4; 
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5;
    height: 100vh;
   }
*{
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
/**/
/*This keeps the image in it's parent container/div*/
img{
    object-fit: cover;
    width: 100%;
    height: inherit;
}
#container{
    display: block;
}
#viewport{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    /*non-essentials*/
    background-color: khaki;
}
#navbar{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;

    /*non-essentials*/
    background-color: lavender;
}
/**/
/*Keeps it to the left of the navbar*/
.navbar_left{
    float: left;
}
/**/
/*Keeps it to the right of the navbar*/
.navbar_right{
    float: right;
}
#logo{
    display: block;
    margin: 40px;

    /*non-essentials*/
    text-align: center;
    background-color: lightblue;
}
#searchform{
    margin: 30px;

    /*non-essentials*/
    text-align: center;
    background-color: mediumaquamarine;
}
/* (+) */
#shortcuts{
    margin: 20px 70px 200px 70px; /*Adding the extra bottom margin to the lowest div only, will also push up all the other divs above it without affecting the gaps between them*/

    /*non-essentials*/
    text-align: center;
    background-color: lightseagreen;
}
#footerlinks{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;

    /*non-essentials*/
    background-color: lightsteelblue;
}
/**/
/*Keeps it to the left of the footer*/
.footerlinks_left{
    float: left;
}
/**/
/*Keeps it to the right of the footer*/
.footerlinks_right{
    float: right;
}