/*
This is iteration *4/5* 
from my personal 5 step design process for any 
webpage/website I try to develop. My 5 step design 
process is normally my starting point when deciding 
an idea or project is something I'd like to try and 
deploy.For more explanation behind my process, go 
ahead and check out the README file on this github repo.

Iteration *4/5*:Refine(making sure everything is as desired, 
                no matter the viewport)
    : adding visual refinements 
    : checking all viewports 
    : adding medias if necessary
-----------------------------------------------------------------
- Legend: "[empty comment]" = new from previous                 - 
-         " (+) " = added a property to an existing element     -
-         " (-) " = deleted a property from an existing element -
-----------------------------------------------------------------
*/

html, body {
    background-color: #fffaf4; 
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 300;
    line-height: 1.5;
    height: 100vh;
   }
*{
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
img{
    object-fit: cover;
    width: 100%;
    height: inherit;
}
/**/
/*This styles the input text while typing within the input*/
input[type="search"]{
    text-align: center;
}
#container{
    display: block;
}
#viewport{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#navbar{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
}
.navbar_left{
    float: left;
    padding: 26px 0 10px 10px;
}
.navbar_left>a{
    padding-left: 8px;
}
.navbar_right{
    float: right;
    padding: 10px;
}
.navbar_right>a{
    padding-right: 8px;
}
.navbar_righticon{
    font-size: 26px;
}
#logo{
    display: block;
    justify-content: center;
    max-width: 410px;
    margin: 0 auto;
}
#searchform{
    display: block;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
}
#searchform>i{
    position: absolute;
    padding: 10px 0 0 12px;
    font-size: 18px;
    opacity: 0.7;
}
/* (+) ; (-) */
.searchform_input{
    padding: 10px;
    border-style: none;
    border-radius: 45px 45px 45px 45px;
    width: 100%;
    box-shadow: rgb(192, 192, 192) 0 2px 12px;/**/
}
/**/
.searchform_input::placeholder{
    text-align: center;
    font-style: italic;
}
/**/
.searchform_input:focus{
    outline: none;
    box-shadow: rgb(192, 192, 192) 0 2px 12px;
}
#shortcuts{
    margin: 20px 70px 200px 70px;
    text-align: center;
}
/* (+) */
#shortcuts>button{
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: rgb(192, 192, 192) 0 2px 12px;/**/
}
/* (+) */
#footerlinks{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #e7e2d2;/**/
}
.footerlinks_left{
    float: left;
}
.footerlinks_left>a{
    padding-left: 10px;
}
.footerlinks_right{
    float: right;
}
.footerlinks_right>a{
    padding-right: 10px;
}